
@font-face{
  font-family: ISOCT3;
  src: url('./assets/ISOCT3.ttf');
}
@font-face {
  font-family: Ojuju;
  src: url('./assets/Ojuju/static/Ojuju-Regular.ttf');
  
}

:root, body{
  margin: 0;
  padding: 0;
  font-family: ISOCT3;
  width: 100vw;
  height: 100vh;
}
#app{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
  cursor:pointer;
}


